DB_URL=jdbc:mysql://localhost:3306/auth_demo?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=root
JWT_SECRET=QXV0aERlbW9TZWNyZXRLZXlGb3JERVYtQ2hhbmdlVGhpc0luUHJvZHVjdGlvbi0xMjM0NTY3ODkw